* {
    box-sizing: border-box;
}
.tc-event {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 12px;
    font-weight: 500;
    // box-shadow: rgba(32, 32, 32, 0.15) 0px 0px 0px 1px inset;
    padding: 0 16px;
}

.tc-event-timeline_icon {
    padding-top: 8px;
    font-size: 24px;
    position: relative;

    &::before {
        content: " ";
        width: 3px;
        height: 100%;
        display: block;
        position: absolute;
        background-color: rgb(233, 233, 233);
        left: 50%;
        z-index: -1;
        margin-top: -8px;
        transform: translateX(-50%);
    }
}
.tc-event-timeline_icon--default {
    color: rgb(42, 162, 254);
}
.tc-event-timeline_icon--done {
    color: rgb(2, 173, 62);
}
.tc-event-timeline_icon--pending {
    color: #fd901a;
}
.tc-event-timeline_icon--error {
    color: #f44f4f;
}

.tc-event-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 6px;

    & > div {
        display: flex;
        flex-direction: row;
        align-items: center;

        p.tc-event-title {
            flex: 1 1 0%;
            margin: 0;
            font-weight: 600;
            font-size: 18px;
            color: #3c3c3c;
        }
        button: {
            flex: 1 1 0%;
        }
    }
}

.tc-event-summary {
    margin: 0;
    width: 100%;
    font-weight: 300;
    font-size: 13px;
    color: #666666;
    padding: 2px 0;
    letter-spacing: 0.5px;
}

.tc-event-date {
    margin: 0;
    width: 100%;
    font-weight: 300;
    font-size: 12px;
    color: #666666;
    letter-spacing: 1px;
}
